{
  "parser": "@typescript-eslint/parser",
  "extends": ["next/core-web-vitals", "google", "prettier", "plugin:prettier/recommended"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "require-jsdoc": "off",
    "quotes": ["error", "single"],
    "react/react-in-jsx-scope": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    ".next/",
    "out/",
    "public/",
    "build/",
    ".github/",
    ".husky/",
    ".vscode/",
    "fonts/",
    "babel.config.js"
  ]
}
