.bn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  min-height: calc(100vh - 284px);
  padding-bottom: 16px;
}

@media (min-width: 744px) {
  .bn-container {
    min-height: calc(100vh - 236px);
  }
}

.bn-formatting-toolbar {
  margin-inline: auto;
}

.bn-editor {
  padding: 0;
}

/* 노트 작성 placeholder */
.bn-inline-content:has(> .ProseMirror-trailingBreak:only-child)::before {
  font-size: 16px;
  font-style: normal;
}

/* 텍스트 스타일 버튼 */
.bn-toolbar.bn-formatting-toolbar > button[data-variant='subtle'] {
  padding: 0 2px;
}

/* 참고 링크 추가 버튼 css */
.bn-toolbar.bn-formatting-toolbar > button[data-custom-button='true'] {
  padding: 0 7px;
}
